{% extends "MCDHHotelBundle:Room:layout.html.twig" %}

{% block title %}
	Réservation - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_breadcrumb_trail %}
	{{ parent() }} > Réserver
{% endblock %}
	
{% block mcdh_hotel_content %}
	
	{{ parent() }}
	
	{% if is_granted('ROLE_CUSTOMER') %}
  		<p>Prix d'une nuit : {{ room.price }} €</p>

  		<ul>
			{% for booking in bookings %}
				<li>Réservation du {{ booking.beginDate|date('d-m-Y') }} au {{ booking.endDate|date('d-m-Y') }}</li>
			{% endfor %}
		</ul>	

		{{ include("MCDHHotelBundle:Booking:form.html.twig") }}
	{% endif %}

{% endblock %}
	