{% extends "MCDHHotelBundle:Booking:layout.html.twig" %}

{% block title %}
	Réservation - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_breadcrumb_trail %}
	{{ parent() }} > Editer
{% endblock %}

{% block mcdh_hotel_page_option %}
	 {{ parent() }}
	<a href="{{ path('mcdh_hotel_view_booking', {'idBooking':booking.id}) }}" class="button btn-primary btn-sm active" role="button">Revenir à la réservation</a>{% endblock %}

{% block mcdh_hotel_content %}

	{% if is_granted('ROLE_CUSTOMER') %}

  		<ul>
			{% for booking in bookings %}
				<li>Réservation du {{ booking.beginDate|date('d-m-Y') }} au {{ booking.endDate|date('d-m-Y') }}</li>
			{% endfor %}
		</ul>	

		{{ include("MCDHHotelBundle:Booking:form.html.twig") }}
	
	{% endif %}

{% endblock %}
	
