{% extends "MCDHHotelBundle:Booking:layout.html.twig" %}

{% block title %}
	{{ 'booking' | trans }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_breadcrumb_trail %}
	{{ parent() }} > Editer
{% endblock %}

{% block mcdh_hotel_page_option %}
	{{ parent() }}
	<a href="{{ path('mcdh_hotel_view_booking', {'idBooking':booking.id}) }}" class="button btn-primary btn-sm active" role="button">{{ 'back.booking'|trans }}</a>
	{% endblock %}

{% block mcdh_hotel_content %}
	{{ parent() }}

	{% if is_granted('ROLE_CUSTOMER') %}
	<ul>
		{% for booking in bookings %}
			<li>{{ 'booking.of'|trans  }} {{ booking.beginDate|date('d-m-Y') }} {{ 'to'|trans }} {{ booking.endDate|date('d-m-Y') }}</li>
		{% endfor %}
	</ul>
	
	{{ include("MCDHHotelBundle:Booking:form.html.twig") }}
	{% endif %}
{% endblock %}