{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Réservation - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
		<h2><a href="{{ path('mcdh_hotel_view', {'idHotel':booking.room.hotel.id}) }}">{{ booking.room.hotel.name }}</a></h2>
		<h3><a href="{{ path('mcdh_hotel_view_room', {'idRoom':booking.room.id}) }}">{{ booking.room.name }}</a></h3>
	{% endblock %}
	
	{% block mcdh_hotel_content %}
	
  		<h2>Edition d'une Réservation</h2> <a href="{{ path('mcdh_hotel_view_booking', {'idBooking':booking.id}) }}">Revenir à la réservation</a>
		<a href="{{ path('mcdh_hotel_delete_booking', {'idBooking':booking.id}) }}">Supprimer</a>

		{{ form(form) }}
	
	{% endblock %}
	
{% endblock %}