{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	{{ 'booking' | trans }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
		<h2><a href="{{ path('mcdh_hotel_view', {'idHotel':booking.room.hotel.id}) }}">{{ booking.room.hotel.name }}</a></h2>
		<h3><a href="{{ path('mcdh_hotel_view_room', {'idRoom':booking.room.id}) }}">{{ booking.room.name }}</a></h3>
		<a href="{{ path('mcdh_hotel_edit_booking', {'idBooking': booking.id}) }}">{{ 'bouton.editer' | trans }}</a>
		<a href="{{ path('mcdh_hotel_delete_booking', {'idBooking': booking.id}) }}">{{ 'bouton.supprimer' | trans }}</a>
	{% endblock %}

	{% block mcdh_hotel_content %}
  		<p>{{ 'checkin' | trans }} : {{ booking.beginDate|date('d-m-Y') }}</p>
		<p>{{ 'checkout' | trans }} : {{ booking.endDate|date('d-m-Y') }}</p>
		<p>{{ 'price' | trans }} : {{ booking.price|number_format(2, ',', ' ') }} €</p>
		<p>{{ 'num.people' | trans }} : {{ booking.people }}</p>
		<p>{{ 'beakfast' | trans }} : {% if booking.breakfast == true %}Oui{% else %}Non{% endif %}</p>
	{% endblock %}
	
{% endblock %}