{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Réservation - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
		<h2><a href="{{ path('mcdh_hotel_view', {'idHotel':booking.room.hotel.id}) }}">{{ booking.room.hotel.name }}</a></h2>
		<h3><a href="{{ path('mcdh_hotel_view_room', {'idRoom':booking.room.id}) }}">{{ booking.room.name }}</a></h3>
		<a href="{{ path('mcdh_hotel_edit_booking', {'idBooking': booking.id}) }}">Editer</a>
		<a href="{{ path('mcdh_hotel_delete_booking', {'idBooking': booking.id}) }}">Supprimer</a>
	{% endblock %}

	{% block mcdh_hotel_content %}
  		<p>Date d'arrivée : {{ booking.beginDate|date('d-m-Y') }}</p>
		<p>Date de départ : {{ booking.endDate|date('d-m-Y') }}</p>
		<p>Prix : {{ booking.price|number_format(2, ',', ' ') }} €</p>
		<p>Nombre de personnes : {{ booking.people }}</p>
		<p>Petit déjeuner : {% if booking.breakfast == true %}Oui{% else %}Non{% endif %}</p>
	{% endblock %}
	
{% endblock %}