{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  {{ 'hotel.suppression.onglet'|trans}} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
  	
	{% block mcdh_hotel_content %}
		<p>{% trans %}hotel.suppression.titre{% endtrans %} {{ hotel.name }} ?</p>
  	
  		<a href="{{ path('mcdh_hotel_view',{'idHotel':hotel.id}) }}">{{'hotel.suppression.retour'|trans}}</a>
  		{{ form(form) }}
	{% endblock %}
  	
{% endblock %}