{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Ajout - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
  	
	{% block mcdh_hotel_content %}
		{% if is_granted('ROLE_ADMIN') %}
			
	  		
	  		<div class="well">
				{{ form_start(form,{}) }}
				{{ form_errors(form) }}
	  			
	  			<p>Etes-vous sur de vouloir supprimer {{ hotel.name }} ?</p>
	  			<div class="form-group row">
	  				<a href="{{ path('mcdh_hotel_view',{'idHotel':hotel.id}) }}" role="button" class="col-lg-offset-4 col-lg-2 button btn-lg btn-primary active">Revenir à l'hôtel</a>
					{{ form_widget(form.delete, {'attr': {'class': 'col-lg-offset-1 btn btn-lg btn-danger'}}) }}
				</div>
				{{ form_rest(form) }}
				{{ form_end(form) }}
	  		</div>
	  	{% else %}
	  		<p>Vous devez être administrateur pour pouvoir supprimer un élément</p>
  		{% endif %}
	{% endblock %}
  	
{% endblock %}