{%  extends "MCDHHotelBundle:Hotel:layout.html.twig" %}

{% block title %}
  {{ hotel.name }} - {{ parent() }}
{% endblock %}



{% block mcdh_hotel_breadcrumb_trail %}
	{{ parent() }} > {{ 'bouton.editer'|trans }}
{% endblock %}
  	
{% block mcdh_hotel_page_option %}

  	
  	{{ parent() }}
  	
  	<a href="{{ path('mcdh_hotel_view',{'idHotel':hotel.id}) }}" class="button btn-primary btn-sm active" role="button">{{ 'back.hotel'|trans }}</a>

{% endblock %}
  	
{% block mcdh_hotel_content %}
	{{ parent() }}

	{{ include("MCDHHotelBundle:Hotel:form.html.twig") }}
{% endblock %}
  
