{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
		{% if is_granted('ROLE_HOTELKEEPER') %}
			<a href="{{ path('mcdh_hotel_add') }}">Ajouter un hôtel</a>
		{% endif %}
	{% endblock %}
	
	{% block mcdh_hotel_content %}

		<ul>
		    {% for hotel in hotels %}
		      <li>
		        <a href="{{ path('mcdh_hotel_view', {'idHotel': hotel.id}) }}"> {{ hotel.name }}</a>
				
		    	{{ hotel.city }} ({{ hotel.country }}),
		        ajouté le {{ hotel.addedDate|date('d-m-Y') }}
		        
				{% if is_granted('ROLE_HOTELKEEPER') %}
					
					<a href="{{ path('mcdh_hotel_edit', {'idHotel':hotel.id}) }}">Editer</a>
					
					{% if is_granted('ROLE_ADMIN') %}
			  			<a href="{{ path('mcdh_hotel_delete', {'idHotel':hotel.id}) }}">Supprimer</a>
			  		{% endif %}
			  		
			  		<a href="{{ path('mcdh_hotel_add_room', {'idHotel':hotel.id}) }}">Ajouter une chambre</a>
			  	{% endif %}
		      </li>
		    {% else %}
		      <li>Pas (encore !) d'hôtels</li>
		    {% endfor %}
		</ul>
  
		<ul>
			{% for p in range(1,nbPages) %}
				<li {% if p == page %} class="active"{% endif %}>
					<a href="{{ path('mcdh_hotel_homepage', {'page':p}) }}">{{ p }}</a></li>
			{% endfor %}
		</ul>
		
	{% endblock %}

{% endblock %}