{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
		<a href="{{ path('mcdh_hotel_add') }}">{{ 'add.hotel' | trans }}</a>
	{% endblock %}
	
	{% block mcdh_hotel_content %}

		<ul>
		    {% for hotel in hotels %}
		      <li>
		        <a href="{{ path('mcdh_hotel_view', {'idHotel': hotel.id}) }}"> {{ hotel.name }}</a>
				
		    	{{ hotel.city }} ({{ hotel.country }}),
		        {{ 'added' | trans }} {{ hotel.addedDate|date('d-m-Y') }}
		        
		        <a href="{{ path('mcdh_hotel_edit', {'idHotel':hotel.id}) }}">{{ 'bouton.editer' | trans }}</a>
		        <a href="{{ path('mcdh_hotel_delete', {'idHotel':hotel.id}) }}">{{ 'bouton.supprimer' | trans }}</a>
  				<a href="{{ path('mcdh_hotel_add_room', {'idHotel':hotel.id}) }}">{{ 'room.ajout' | trans }}</a>
		      </li>
		    {% else %}
		      <li>{{ 'pas.hotel2' | trans }}</li>
		    {% endfor %}
		</ul>
  
		<ul>
			{% for p in range(1,nbPages) %}
				<li {% if p == page %} class="active"{% endif %}>
					<a href="{{ path('mcdh_hotel_homepage', {'page':p}) }}">{{ p }}</a></li>
			{% endfor %}
		</ul>
		
	{% endblock %}

{% endblock %}