{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

  <h2>Liste des hotels</h2>

  <ul>
    {% for hotel in hotels %}
      <li>
        <a href="{{ path('mcdh_hotel_view', {'id': hotel.id}) }}"> {{ hotel.name }}</a>
		
    	{{ hotel.city }} ({{ hotel.country }}),
        ajouté le {{ hotel.addedDate|date('d-m-Y') }}
        
        <a href="{{ path('mcdh_hotel_edit', {'id':hotel.id}) }}">Editer</a>
        <a href="{{ path('mcdh_hotel_delete', {'id':hotel.id}) }}">Supprimer</a>
      </li>
    {% else %}
      <li>Pas (encore !) d'hôtels</li>
    {% endfor %}
  </ul>
  
  <p> Page {{ page }}. </p>

{% endblock %}