{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  {{ hotel.name }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
	
	{% block mcdh_hotel_page %}
		{{ parent() }}
		{% if hotel.image.uploadDir is defined %}
			<img
				src="{{ asset(hotel.image.uploadDir ~ '/' ~ hotel.image.id ~ '.' ~ hotel.image.extension) }}"
				alt="{{ hotel.image.alt }}"
			/>
		{% endif %}
		<a href="{{ path('mcdh_hotel_edit', {'idHotel':hotel.id}) }}">Editer</a>
	  	<a href="{{ path('mcdh_hotel_delete', {'idHotel':hotel.id}) }}">Supprimer</a>
	  	<a href="{{ path('mcdh_hotel_add_room', {'idHotel':hotel.id}) }}">Ajouter une chambre</a>
	{% endblock %}

	{% block mcdh_hotel_content %}
	
		{% block mcdh_hotel_description %}
			<h3>{{ hotel.city }}, {{ hotel.country }}</h3>
			<p>{{ hotel.description }}</p>
		{% endblock %}
		
		{% block mcdh_hotel_rooms %}
			{% for room in rooms %}
		      <li>
		        <a href="{{ path('mcdh_hotel_view_room', {'idRoom': room.id}) }}"> {{ room.name }}</a>
				
		    	{{ room.price|number_format(2, ',', ' ') }} €
		        
		        <a href="{{ path('mcdh_hotel_edit_room', {'idRoom': room.id}) }}">Editer</a>
		        <a href="{{ path('mcdh_hotel_delete_room', {'idRoom': room.id}) }}">Supprimer</a>
		        <a href="{{ path('mcdh_hotel_add_booking', {'idRoom':room.id}) }}">Réserver</a>
		      </li>
		    {% else %}
		      <li>Pas (encore !) de chambres pour cet hôtel.</li>
		    {% endfor %}
		{% endblock %}
	
	{% endblock %}
  
{% endblock %}
