{%  extends "MCDHHotelBundle:Hotel:layout.html.twig" %}

{% block title %}
  {{ hotel.name }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_content %}
	{{ parent() }}
	
	<div class="row media">
		{% if room.image.uploadDir is defined %}
		<div class="media-left col-lg-3 col-sm-5">
			<div class="thumbnail">
				<img
				src="{{ asset(hotel.image.uploadDir ~ '/' ~ hotel.image.id ~ '.' ~ hotel.image.extension) }}"
				alt="{{ hotel.image.alt }}"
				class="media-object img-responsive"
				/>
			</div>
		</div>
		{% endif %}
		<div class="media-body col-lg-9 col-sm-7">
			<p class="media-body">{{ hotel.description }}</p>
		</div>
	</div>
	
	<ul class="row list-group">
		{% for room in rooms %}
			<li class="row list-group-item ">
				<div class="media col-lg-9 col-sm-7">
						<div class="media-left col-lg-2 col-sm-3">
						{% if room.image.uploadDir is defined %}
							<div class="media-middle thumbnail">
								<a href="{{ path('mcdh_hotel_view_room', {'idRoom': room.id}) }}">
								<img
								src="{{ asset(room.image.uploadDir ~ '/' ~ room.image.id ~ '.' ~ room.image.extension) }}"
								alt="{{ room.image.alt }}"
								class="media-object img-responsive"
								/>
								</a>
							</div>
						{% endif %}
					</div>
					
					<div class="media-body">
						<a href="{{ path('mcdh_hotel_view_room', {'idRoom': room.id}) }}"> {{ room.name }}</a>
						{{ room.price|number_format(2, ',', ' ') }} €
					</div>
				</div>
			<div class="col-lg-3">
			<a href="{{ path('mcdh_hotel_add_booking', {'idRoom':room.id}) }}" class="button btn-success btn-sm active" role="button">{{ 'book'|trans }}</a>
			{% if is_granted('ROLE_HOTELKEEPER') %}
			<a href="{{ path('mcdh_hotel_edit_room', {'idRoom': room.id}) }}" class="button btn-warning btn-sm active" role="button">{{ 'bouton.editer'|trans }}</a>
			{% endif %}
			{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('mcdh_hotel_delete_room', {'idRoom': room.id}) }}" class="button btn-danger btn-sm active" role="button">{{ 'bouton.supprimer'|trans }}</a>
			{% endif %}
			</div>
			</li>
		{% else %}
			<li class="row list-group-item">{{ 'pas.hotel'|trans }}.</li>
		{% endfor %}
	</ul>
	
{% endblock %}






