{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Suppression - {{ parent() }}
{% endblock %}

{% block mcdh_room_body %}

	{% block mcdh_hotel_page %}
		<h2><a href="{{ path('mcdh_hotel_view', {'idHotel':room.hotel.id}) }}">{{ room.hotel.name }}</a></h2>
		<h3><a href="{{ path('mcdh_hotel_view_room', {'idRoom':room.id}) }}">{{ room.name }}</a></h3>
	{% endblock %}

	{% block mcdh_hotel_content %}
	
		<h2>Suppression d'une chambre</h2>
		
		<p>Etes-vous sur de vouloir supprimer la chambre {{ room.name }} ?</p>
		<a href="{{ path('mcdh_hotel_view_room', {'idRoom':room.id}) }}">Revenir à la chambre</a>
		{{ form(form) }}
	
	{% endblock %}
	
{% endblock %}