{% extends "MCDHHotelBundle:Room:layout.html.twig" %}

{% block title %}
	{{ 'chambre'|trans }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_breadcrumb_trail %}
	{{ parent() }} > Editer
{% endblock %}

{% block mcdh_hotel_page_option %}
	{{ parent() }}
	<a href="{{ path('mcdh_hotel_view_room', {'idRoom':room.id}) }}" class="button btn-primary btn-sm active" role="button">{{ 'back.room'|trans }}</a>
{% endblock %}

{% block mcdh_hotel_content %}
	{{ parent() }}
	{% if is_granted('ROLE_HOTELKEEPER') %}
	{{ include("MCDHHotelBundle:Room:form.html.twig") }}
	{% endif %}
{% endblock %}

