{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Chambre - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
		<h2><a href="{{ path('mcdh_hotel_view', {'idHotel':room.hotel.id}) }}">{{ room.hotel.name }}</a></h2>
	{% endblock %}
	
	{% block mcdh_hotel_content %}
	
		{% if is_granted('ROLE_HOTELKEEPER') %}
	  		<h2>Edition d'une chambre</h2> <a href="{{ path('mcdh_hotel_view_room', {'idRoom':room.id}) }}">Revenir à la chambre</a>
			<a href="{{ path('mcdh_hotel_delete_room', {'idRoom':room.id}) }}">Supprimer</a>
	
			{{ form(form) }}
		{% endif %}
	
	{% endblock %}
	
{% endblock %}