<div class="well">
	{{ form_start(form,{}) }}
	{{ form_errors(form) }}
	
	<fieldset>
		<legend>Chambre</legend>
		<div class="form-group row">
			{{ form_label(form.name, "Nom", {'label_attr': {'class': 'col-lg-offset-1 col-sm-2 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.name, {'attr': {'class': 'col-sm-3'}}) }}
		</div>
		
		<div class="form-group row">
			{{ form_label(form.floor, "Etage", {'label_attr': {'class': 'col-lg-offset-1 col-sm-2 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.floor, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.floor, {'attr': {'class': 'col-sm-3'}}) }}
		</div>
		
		<div class="form-group row">
			{{ form_label(form.people, "Personne(s)", {'label_attr': {'class': 'col-lg-offset-1 col-sm-2 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.people, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.people, {'attr': {'class': 'col-sm-3'}}) }}
		</div>
		
		<div class="form-group row">
			{{ form_label(form.orientation, "Orientation", {'label_attr': {'class': 'col-lg-offset-1 col-sm-2 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.orientation, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.orientation, {'attr': {'class': 'col-sm-3'}}) }}
		</div>
		
		<div class="form-group row">
			{{ form_label(form.price, "Prix", {'label_attr': {'class': 'col-lg-offset-1 col-sm-2 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.price, {'attr': {'class': 'col-sm-3'}}) }}
		</div>
		
		<div class="form-group row">
			{{ form_label(form.image, "Image", {'label_attr': {'class': 'col-lg-offset-1 col-sm-2 control-label'}}) }}
			
			<div class="col-sm-4">
				{{ form_widget(form.image, {'attr': {'class': 'form-control'}}) }}
			</div>
			
			{{ form_errors(form.image, {'attr': {'class': 'col-sm-3'}}) }}
		</div>
	
	<fieldset>
		<legend>Validation</legend>
		<div class="form-group row">
			{{ form_widget(form.save, {'attr': {'class': 'col-lg-offset-6 btn btn-primary'}}) }}
		</div>
	</fieldset>
			
	{{ form_rest(form) }}
	{{ form_end(form) }}
</div>