{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Chambre {{ room.name }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_content %}
  		<p>Chambre {{ room.name }}, {{ room.floor }}ème étage</p>
		<p>{{ room.people }} personne(s), {{ room.orientation }}</p>
		
		<a href="{{ path('mcdh_hotel_edit_room', {'idRoom':room.id}) }}">Editer</a>
		<a href="{{ path('mcdh_hotel_delete_room', {'idRoom':room.id}) }}">Supprimer</a>
	{% endblock %}
	
{% endblock %}