{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	{{ 'chambre'|trans }} {{ room.name }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_content %}
  		<p>{{ 'chambre'|trans }} {{ room.name }}, {{ room.floor }}{{ 'floor'|trans }}</p>
		<p>{{ room.person }} {{ 'people'|trans }}, {{ room.orientation }}</p>
		
		<a href="{{ path('mcdh_hotel_edit_room', {'idRoom':room.id}) }}">{{ 'bouton.editer'|trans }}</a>
		<a href="{{ path('mcdh_hotel_delete_room', {'idRoom':room.id}) }}">{{ 'bouton.supprimer'|trans }}</a>
	{% endblock %}
	
{% endblock %}