{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	{{ 'chambre'|trans }} {{ room.name }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
	
	{% block mcdh_hotel_page %}
		<h2><a href="{{ path('mcdh_hotel_view', {'idHotel':room.hotel.id}) }}">{{ room.hotel.name }}</a></h2>
		<a href="{{ path('mcdh_hotel_edit_room', {'idRoom':room.id}) }}">Editer</a>
		<a href="{{ path('mcdh_hotel_delete_room', {'idRoom':room.id}) }}">Supprimer</a>
		<a href="{{ path('mcdh_hotel_add_booking', {'idRoom':room.id}) }}">Réserver</a>	
	{% endblock %}

	{% block mcdh_hotel_content %}
  		
  		{% block mcdh_hotel_room %}
  			<p>{{ 'chambre'|trans }} {{ room.name }}, {{ room.floor }}{{ 'floor'|trans }}</p>
			<p>{{ room.people }} {{ 'people'|trans }}, {{ room.orientation }}</p>
		{% endblock %}
		
		{% block mcdh_hotel_bookings %}
			{% for booking in bookings %}
		      <li>
		        <a href="{{ path('mcdh_hotel_view_booking', {'idBooking': booking.id}) }}"> Réservation n° {{ booking.id }}</a>
				
		    	du {{ booking.beginDate|date('d-m-Y') }} au {{ booking.endDate|date('d-m-Y') }}
		        
				<a href="{{ path('mcdh_hotel_edit_booking', {'idBooking': booking.id}) }}">{{ 'bouton.editer'|trans }}</a>
				<a href="{{ path('mcdh_hotel_delete_booking', {'idBooking': booking.id}) }}">{{ 'bouton.supprimer'|trans }}</a>
		      </li>
		    {% else %}
		      <li>Pas (encore !) de chambres pour cet hôtel.</li>
		    {% endfor %}
		{% endblock %}
	{% endblock %}
	
{% endblock %}