{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	{{ 'chambre'|trans }} {{ room.name }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
	

	{% block mcdh_hotel_page_title %}
		{{ parent() }}
		{% if hotel.image.uploadDir is defined %}
			<img
				src="{{ asset(room.image.uploadDir ~ '/' ~ room.image.id ~ '.' ~ room.image.extension) }}"
				alt="{{ room.image.alt }}"
			/>
		{% endif %}
		
		<div class="row well">
		<a href="{{ path('mcdh_hotel_add_booking', {'idRoom':room.id}) }}" class="button btn-success btn-sm active" role="button">Réserver</a>	
		
		{% if is_granted('ROLE_HOTELKEEPER') %}
			<a href="{{ path('mcdh_hotel_edit_room', {'idRoom':room.id}) }}" class="button btn-warning btn-sm active" role="button">Editer</a>
		{% endif %}
		
		{% if is_granted('ROLE_ADMIN') %}
			<a href="{{ path('mcdh_hotel_delete_room', {'idRoom':room.id}) }}" class="button btn-danger btn-sm active" role="button">Supprimer</a>
		{% endif %}
		</div>

	{% endblock %}

	{% block mcdh_hotel_content %}
  		

  		<div class="row well">
  			<p>Chambre {{ room.name }}, {{ room.floor }}ème étage</p>
			<p>{{ room.people }} personne(s), {{ room.orientation }}</p>
		</div> 
		
		{% block mcdh_hotel_bookings %}
			{% if is_granted('ROLE_HOTELKEEPER') %}
				{% for booking in bookings %}
			      <li>
			        <a href="{{ path('mcdh_hotel_view_booking', {'idBooking': booking.id}) }}"> Réservation n° {{ booking.id }}</a>
					
			    	du {{ booking.beginDate|date('d-m-Y') }} au {{ booking.endDate|date('d-m-Y') }}
			        
					<a href="{{ path('mcdh_hotel_edit_booking', {'idBooking': booking.id}) }}">Editer</a>
					<a href="{{ path('mcdh_hotel_delete_booking', {'idBooking': booking.id}) }}">Supprimer</a>
			      </li>
			    {% else %}
			      <li>Pas (encore !) de réservations pour cet hôtel.</li>
			    {% endfor %}
			{% endif %}
		    

		{% endblock %}
	{% endblock %}
	
{% endblock %}