{% extends "MCDHHotelBundle:Room:layout.html.twig" %}

{% block title %}
	Chambre {{ room.name }} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_content %}
	
	{% if hotel.image.uploadDir is defined %}
		<img
			src="{{ asset(room.image.uploadDir ~ '/' ~ room.image.id ~ '.' ~ room.image.extension) }}"
			alt="{{ room.image.alt }}"
		/>
	{% endif %}
  		
  	<p>Chambre {{ room.name }}, {{ room.floor }}ème étage</p>
	<p>{{ room.people }} personne(s), {{ room.orientation }}</p>
	
	<ul class="row list-group">
		{% if is_granted('ROLE_HOTELKEEPER') %}
			{% for booking in bookings %}
		      <li class="row list-group-item">
		      	<div class="col-lg-9 col-sm-7">
		       		<a href="{{ path('mcdh_hotel_view_booking', {'idBooking': booking.id}) }}"> Réservation n° {{ booking.id }}</a>
				
		    		du {{ booking.beginDate|date('d-m-Y') }} au {{ booking.endDate|date('d-m-Y') }}
		        </div>
		        
		        {% if is_granted('ROLE_ADMIN') %}
		        <div class="col-lg-3">
					<a href="{{ path('mcdh_hotel_edit_booking', {'idBooking': booking.id}) }}" class="button btn-warning btn-sm active" role="button">Editer</a>
					<a href="{{ path('mcdh_hotel_delete_booking', {'idBooking': booking.id}) }}" class="button btn-danger btn-sm active" role="button">Supprimer</a>
				</div>
				{% endif %}
		      </li>
		    {% else %}
		      <li class="row list-group-item">Pas (encore !) de réservations pour cet hôtel.</li>
		    {% endfor %}
		{% endif %}
	</ul>
{% endblock %}
	
